<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TP3 Akka - MapReduce</title>
</head>
<body>

<h1>TP3 Akka - MapReduce</h1>
<h2>Initialisation des acteurs Akka</h2>
<p>Cliquez sur le bouton ci-dessous pour initialiser les acteurs Akka :</p>
<form th:action="@{/akka/init}" method="post">
    <button type="submit">Initialiser</button>
</form>

<!-- Message de succès -->
<p th:if="${message}" th:text="${message}" style="color: green;"></p>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<hr>



</body>
</html>
