<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TP3 Akka - MapReduce</title>
</head>
<body>

<h1>TP3 Akka - MapReduce</h1>
<h2>Initialisation des acteurs Akka</h2>
<p>Cliquez sur le bouton ci-dessous pour initialiser les acteurs Akka :</p>
<form th:action="@{/akka/init}" method="post">
    <button type="submit">Initialiser</button>
</form>


<hr>
<h2>Charger un fichier à analyser</h2>
<form th:action="@{/akka/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Analyser</button>
</form>

<hr>

<h2>Rechercher un mot</h2>
<form th:action="@{/akka/search}" method="get">
    <input type="text" name="word" placeholder="Entrez un mot..." required>
    <button type="submit">Chercher</button>
</form>

<!-- Afficher les résultats de la recherche -->
<p th:if="${message}" th:text="${message}" style="font-weight: bold;"></p>

</body>
</html>
